/node_modules/

# clang-tidy stuff.
/worker/compile_commands.json

# gyp generated stuff.
/worker/out/
/worker/**/*.xcodeproj/

# clang+fuzzer stuff is too big.
/worker/deps/clang-fuzzer

# Ignore all fuzzer generated test inputs.
/worker/fuzzer/new-corpus/*
!/worker/fuzzer/new-corpus/.placeholder

# Vim temporal files.
*.swp
*.swo
*.ipch
*.obj
*.log
*.pdb
*.tlog
worker/scripts/configure.pyc
worker/mediasoup-worker.vcxproj.user
worker/mediasoup-worker.vcxproj.filters
worker/deps/openssl/openssl.vcxproj.user
worker/deps/openssl/openssl.vcxproj.filters
worker/deps/netstring/netstring.vcxproj.user
worker/deps/netstring/netstring.vcxproj.filters
worker/deps/libsrtp/libsrtp.vcxproj.user
worker/deps/libsrtp/libsrtp.vcxproj.filters
worker/deps/jsoncpp/jsoncpp.vcxproj.user
worker/deps/jsoncpp/jsoncpp.vcxproj.filters
worker/Debug/mediasoup-worker.ilk
worker/Debug/mediasoup-worker.exe
worker/Debug/lib/openssl.lib
worker/Debug/lib/netstring.lib
worker/Debug/lib/libuv.lib
worker/Debug/lib/libsrtp.lib
worker/Debug/lib/jsoncpp.lib
worker/.vs/mediasoup-worker/v15/Solution.VC.db-wal
worker/.vs/mediasoup-worker/v15/Solution.VC.db-shm
worker/.vs/mediasoup-worker/v15/Solution.VC.db
worker/.vs/mediasoup-worker/v15/Browse.VC.opendb
worker/.vs/mediasoup-worker/v15/Browse.VC.db
worker/.vs/mediasoup-worker/v15/.suo
